{% EVENT dls_web_zodiac_before %}

{% if zodiac_data %}
	{% for zodiac in zodiac_data %}
		{% set sign = zodiac.sign %}
		{% set element = lang(zodiac.element) %}
		{% if zodiac.animal and zodiac.stem %}
			{% set sign = zodiac.animal %}
			{% set element = lang('STEM', zodiac.stem)~' '~lang(zodiac.element) %}
		{% endif %}

		{% if sign %}<dt>{{ lang(zodiac.name) ~ lang('COLON') }}</dt>
		<dd class="profile-zodiac dls_dd">
			<div class="dropdown-container">
				<a href="#" class="dropdown-trigger">
					<span>{% if element %}{{ element }}{% endif %} {{ lang(sign) }}</span><i class="icon fa-caret-down fa-fw" aria-hidden="true"></i>
				</a>
				<div class="dropdown dropdown-extended">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents dropdown-zodiac" role="menu">
					<div class="header">{{ lang(zodiac.name)~' '~lang('ZODIAC') }}</div>
						<li class="zrow">
							<strong>{{ lang('SIGN') ~ lang('COLON') }}</strong> {{ lang(zodiac.sign) }}
						</li>

					{% if zodiac.element %}
						<li class="zrow">
							<strong>{{ lang('ELEMENT') ~ lang('COLON') }}</strong> {{ element }}
						</li>
					{% endif %}

					{% if zodiac.animal %}
						<li class="zrow">
							<strong>{{ lang('SYMBOL') ~ lang('COLON') }}</strong> {{ lang(zodiac.sign) }}
						</li>
					{% endif %}

					{% if zodiac.plant %}
						<li class="zrow">
							<strong>{{ lang('PLANT') ~ lang('COLON') }}</strong> {{ lang(zodiac.plant) }}
						</li>
					{% endif %}

					{% if zodiac.gem %}
						<li class="zrow">
							<strong>{{ lang('STONE') ~ lang('COLON') }}</strong> {{ lang(zodiac.gem) }}
						</li>
					{% endif %}

					{% if zodiac.ruler %}
						<li class="zrow">
							<strong>{{ lang('RULER') ~ lang('COLON') }}</strong> {{ lang(zodiac.ruler) }}
						</li>
					{% endif %}

					{% if zodiac.extra %}
						{% set extra = 'MOON' %}
						{% if zodiac.name === 'CHINESE' %}
							{% set extra = 'SEASON' %}
						{% elseif zodiac.name === 'MYANMAR' %}
							{% set extra = 'WEEKDAY' %}
						{% endif %}
						<li class="zrow">
							<strong>{{ lang(extra) ~ lang('COLON') }}</strong> {{ lang(zodiac.extra) }}
						</li>
					{% endif %}
					</ul>
				</div>
			</div>
		</dd>
		{% endif %}

	{% endfor %}
{% endif %}

{% EVENT dls_web_zodiac_after %}
