{% from '@dls_web/macros/tags.html' import icon %}
{% apply spaceless %}
<div class="block bg1">
	<h2>{{ lang('LEADERS') }}</h2>
	<div class="inner-block">
		<ul class="no_style">
			<li class="head"><strong>{{ lang('USERNAME') }}</strong><span class="right"><strong>{{ lang('POSTS') }}</strong></span></li>
		{% for posters in top_posters %}
			<li>{{ loop.index ~ '.' ~ icon('fonts', 'star', 'fa-fw icon-gold', null, posters.top)|trim }}<span class="right">{{ posters.posts }}</span></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endapply %}
