{% from '@dls_web/macros/tags.html' import icon, url %}

<div class="block mid-bottom-content bg1">
{% if S_DISPLAY_ONLINE_LIST %}
	<div class="whos_inner">
		<h2>{{ lang('WHO_IS_ONLINE') }}</h2>
		<ul class="no_style">
			<li>{{ TOTAL_USERS_ONLINE }} ({{ L_ONLINE_EXPLAIN }})</li>
			<li>{{ RECORD_USERS }}</li>
			{% if U_VIEWONLINE %}
			<li><br></li>
			<li>{{ LOGGED_IN_USER_LIST }}</li>
			{% if legend %}
			<li><em>{{ lang('LEGEND') ~ lang('COLON') }}
				{% for item in legend %}
					{% set color = item.color ? 'color:#' ~ item.color : '' %}
					{% if item.not_authed %}
						<span {{ color }}>{{ get_group_name(item.name) }}</span>
					{% else %}
						{{ url({'href': item.link, 'style': color}, get_group_name(item.name)) }}
					{% endif %}{{ not loop.last ? ', ' }}
				{% endfor %}
				</em>
			</li>
			{% endif %}
			{% endif %}
		</ul>
	</div>
{% endif %}

{% if s_birthday_list %}
	<div class="whos_inner">
		<h2>{{ lang('BIRTHDAYS') }}</h2>
		<p class="whos_p">
		{% if birthdays %}
			{{ lang('CONGRATULATIONS') ~ lang('COLON') }}
			<strong>
			{% for item in birthdays %}
				{{ item.member ~ (item.age ? ' (' ~ item.age ~ ')') }}{{ not loop.last ? ', ' }}
			{% endfor %}
			</strong>
		{% else %}
			{{ lang('NO_BIRTHDAYS') }}
		{% endif %}
		</p>
	</div>
{% endif %}

{% if new_user %}
	<div>
		<h2>{{ lang('STATISTICS') }}</h2>
		<ul class="no_style">
			<li>
				{{ lang('TOTAL_POSTS_COUNT', dls_posts) }} &bull; {{ lang('TOTAL_TOPICS', dls_topics) }} &bull; {{ lang('TOTAL_USERS', dls_users) }} &bull; {{ lang('NEWEST_USER', new_user) }}
			</li>
			<li>
				{{ lang('DLS_PER_DAY', lang('POSTS'), ppd) }} &bull; {{ lang('DLS_PER_DAY', lang('TOPICS'), tpd) }} &bull; {{ lang('DLS_PER_DAY', lang('USERS'), upd) }}
			</li>
		</ul>
	</div>
{% endif %}

</div>
{# End Bottom Content #}

