{% extends '@dls_web/layout/acp-base.html' %}

{% block acp_heading %}
	{{ lang('ACP_DLS_BLOCKS') }}
{% endblock %}

{% import '@dls_web/macros/forms.html' as form %}
{% from '@dls_web/macros/tags.html' import icon %}

{% block acp_form_content %}

	{% if error %}
		{{ include('@dls_web/error/acp_add_blocks_table.html') }}
	{% endif %}

	{% if U_PURGE %}
		<fieldset>
			{{ lang('PURGE_BLOCK', U_PURGE|join(lang('COMMA_SEPARATOR'))) }}
		</fieldset>
	{% endif %}

	{% if install %}
		{{ include('@dls_web/includes/install.html') }}
	{% endif %}

	<fieldset>
	{% for section in loops.section %}
		{% if loop.first %}
			<h2>{{'[' ~ section.in_count ~ '] ' ~ lang(section.section) ~ lang('BLOCKS', section.in_count > 1 ? 's') }}</h2>
		{% else %}
			<h3>{{'[' ~ section.in_count ~ '] ' ~ lang(section.section) ~ lang('BLOCKS', section.in_count > 1 ? 's') }}</h3>
		{% endif %}
		<div class="lside">
			<table class="table2 zebra-table">
				<thead>
					<tr>
						<th>{{ lang('BLOCK') }}</th>
						<th>{{ lang('ACTIONS') }}</th>
						{% if section.section !== 'DLS_SPECIAL' %}
							{% if section.in_count > 1 %}
								<th>{{ lang('BLOCK_POSITION') }}</th>
							{% endif %}
							<th>{{ lang('SECTION') }}</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for block in section.block %}
					<tr>
						<td class="tabled">
							{{ form.checkbox(block.name, '0') ~ lang(block.name|upper) }}
						</td>
						<td class="tabled">
							{{ form.radio(block.active, block.s_activate, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}
						</td>
						{% if section.section !== 'DLS_SPECIAL' %}
							{% if block.s_options > 1 %}
								<td class="tabled">
									{{ form.select(block.position, block.s_current, range(1, block.s_options)) }}
								{% if block.s_duplicate %}
									{{ icon('icon', 'exclamation-triangle fa-fw error', {'title': lang('DUPLICATE')}) }}
								{% endif %}
								</td>
							{% endif %}
							{% if block.s_section %}
								<td class="tabled">
									{{ form.select(block.section, block.s_section, block.S_SECTIONS) }}
								</td>
							{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
	</fieldset>

{% endblock %}
