{{ include('overall_header.html') }}

<h1>{{ lang('ACP_DLS_BLOCKS') }}</h1>

{% import '@dls_web/macros/forms.html' as form %}
{% from '@dls_web/macros/tags.html' import icon %}

<form id="acp_web_block" method="post" action="{{ U_ACTION }}">

{% if U_PURGE %}
	<fieldset>
		{{ lang('PURGE_BLOCK', U_PURGE|join(lang('COMMA_SEPARATOR'))) }}
	</fieldset>
{% endif %}

{% if install %}
	<fieldset>
		<h2>{{ lang('ADD_BLOCK', '[' ~ U_ADD ~ ']', U_ADD > 1 ? 's') }}</h2>

		<div class="lside">
			<table class="table2 zebra-table no-header" data-no-responsive-header="true">
				<thead>
					<tr>
						<th>{{ lang('BLOCK') }}</th>
						<th>{{ lang('CHECK_TO') }}</th>
					</tr>
				</thead>

				<tbody>
				{% for add in install %}
					<tr>
						<td class="tabled">{{ form.label(add.block_name, lang(add.block_name)) }}</td>
						<td class="tabled">{{ form.checkbox(add.block_name ~ '_new', '0') }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

	</fieldset>

	<p class="submit-buttons">
		{{ form.input('submit', lang('SUBMIT'), 'button1', {'type': 'submit'}) }}
	</p>
{% endif %}

	<fieldset>
	{% for category in loops.category %}
		{% if loop.first %}
			<h2>{{'[' ~ category.in_count ~ '] ' ~ lang(category.cat_name) ~ lang('BLOCKS', category.in_count > 1 ? 's') }}</h2>
		{% else %}
			<h3>{{'[' ~ category.in_count ~ '] ' ~ lang(category.cat_name) ~ lang('BLOCKS', category.in_count > 1 ? 's') }}</h3>
		{% endif %}
		<div class="lside">
			<table class="table2 zebra-table no-header" data-no-responsive-header="true">
				<thead>
					<tr>
						<th>{{ lang('BLOCK') }}</th>
						<th>{{ lang('ACTIONS') }}</th>
						{% if category.cat_name !== 'SPECIAL' and category.in_count > 1 %}
							<th>{{ lang('BLOCK_POSITION') }}</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for block in category.block %}
					<tr>
						<td class="tabled">
							{{ form.checkbox(block.name, '0') ~ form.label(block.name, lang(block.language) ~ lang('COLON')) }}
						</td>
						<td class="tabled">
							{{ form.radio(block.active, block.s_activate, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}
						</td>
						{% if category.cat_name !== 'SPECIAL' and block.s_options > 1 %}
							<td class="tabled">
								{{ form.select(block.position, block.s_current, range(1, block.s_options)) }}
							{% if block.s_duplicate %}
								<span class="error">{{ lang('DUPLICATE_POS') ~ icon('font', 'exclamation-triangle', 'fa-fw') }}</span>
							{% endif %}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
	</fieldset>

	<p class="submit-buttons">
		{{ form.input('submit', lang('SUBMIT'), 'button1', {'type': 'submit'}) }}
		{{ form.input('reset', lang('RESET'), 'button2', {'type': 'reset'}) }}
	</p>

	{{ S_FORM_TOKEN }}

</form>

{{ include('overall_footer.html') }}
