{% extends '@dls_web/layout/acp-base.html' %}

{% block acp_heading %}
	{{ lang('ACP_DLS_PAGE') }}
{% endblock %}

{% import '@dls_web/macros/forms.html' as form %}

{% block acp_form_content %}

	<fieldset>
		<div class="lside">
			<table class="table2 zebra-table">
			{% for page in loops.pages|slice(0, 1) %}
				<thead>
					<tr>
					{% for key in page|keys|slice(0, 9) %}
						<th>{{ key }}</th>
					{% endfor %}
					</tr>
				</thead>
			{% endfor %}

				<tbody>
				{% for page in loops.pages %}
					{% set name = page.name %}
					{% set inactive = page|keys|slice(3, 6) %}
					<tr>
						<td class="tabled">
							{{ form.checkbox(page.name, '0') ~ page.name }}
						</td>
						<td class="tabled">
							{{ form.radio(name ~ '_active', page.active, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not page.changeable ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_allow', page.allow, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not config('dls_' ~ inactive.0) ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_special', page.special, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not config('dls_' ~ inactive.1) ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_right', page.right, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not config('dls_' ~ inactive.2) ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_left', page.left, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not config('dls_' ~ inactive.3) ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_middle', page.middle, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not config('dls_' ~ inactive.4) ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_top', page.top, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
						<td class="tabled {{ not config('dls_' ~ inactive.5) ? 'acp_no_click'}}">
							{{ form.radio(name ~ '_bottom', page.bottom, {'yes': lang('YES'), 'no': lang('NO')}) }}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>

{% endblock %}
