{{ include('overall_header.html') }}

<h1>{{ lang('ACP_DLS_BLOCKS') }}</h1>

{% import '@dls_web/macros/forms.html' as form %}
{% from '@dls_web/macros/tags.html' import icon %}

<form id="acp_web_block" method="post" action="{{ U_ACTION }}">

	{% if S_UPDATE %}
		<fieldset>
			{{ lang(S_UPDATE|upper~'_BLOCK', U_UPDATE|join(lang('COMMA_SEPARATOR'))) }}
		</fieldset>
	{% endif %}

	{% for category in loops.category %}
		<fieldset>
			<legend>{{ lang(category.cat_name) ~ lang('BLOCKS') }}</legend>

			{% for block in category.block %}
				<dl>
					<dt>{{ form.label(block.name, lang('ENABLE') ~ lang(block.language) ~ lang('COLON')) }}<br>
						{% if category.cat_name !== 'SPECIAL' %}
							<span class="{{ block.s_duplicate ? 'error' : 'success' }}">
								{% if block.s_duplicate %}
									{{ lang('DUPLICATE_POSITION') ~ icon('font', 'exclamation-triangle', 'fa-fw') }}
								{% else %}
									{{ lang('BLOCK_POSITION') ~ lang('COLON') }}
								{% endif %}
							</span>
						{% endif %}
					</dt>

					<dd>{{ form.radio(block.name, block.s_activate, {'yes': lang('YES'), 'no': lang('NO')}) }}</dd>

					{% if category.cat_name !== 'SPECIAL' and block.s_options %}
						<dd>{{ form.select(block.position, block.s_current, range(1, block.s_options)) }}</dd>
					{% endif %}
				</dl>
			{% endfor %}

		</fieldset>
	{% endfor %}

	<p class="submit-buttons">
		{{ form.input('submit', lang('SUBMIT'), 'button1', {'type': 'submit'}) }}
		{{ form.input('reset', lang('RESET'), 'button2', {'type': 'reset'}) }}
	</p>

	{{ S_FORM_TOKEN }}

</form>

{{ include('overall_footer.html') }}
