<ul>
{% for pagi in pagination %}
	{% if pagi.S_IS_PREV %}
		<li class="arrow-left"><a class="button2" href="{{ pagi.PAGE_URL }}"><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>{{ lang('PREVIOUS') }}</a></li>
	{% elseif pagi.S_IS_CURRENT %}
		<li class="active"><span>{{ pagi.PAGE_NUMBER }}</span></li>
	{% elseif pagi.S_IS_ELLIPSIS %}
		<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
	{% elseif pagi.S_IS_NEXT %}
		<li class="arrow-right"><a class="button2" href="{{ pagi.PAGE_URL }}">{{ lang('NEXT') }}<i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i></a></li>
	{% else %}
		<li><a class="button2" href="{{ pagi.PAGE_URL }}">{{ pagi.PAGE_NUMBER }}</a></li>
	{% endif %}
{% endfor %}
</ul>
